div.col-md-3
	div.card
		div.view.overlay.hm-white-slight
			img(src="#{path}" class="img-fluid" alt="")
			a(target="_blank" href="#{path}")
				div.mask.waves-effect.waves-light

		div.card-block
			h4.card-title #{cardTitle}
			h6.card-title #{cardAuthor}
			p.card-text #{cardDescription}
			